<app-card class="card-rating">
    <section class="card-rating__content">
        <app-icon-box
            [ariaLabel]="'Ícone de estrela'"
            [iconLink]="'../../../../../assets/images/icon-star.svg'"
            [iconStyle]="'icon-primary'"
        ></app-icon-box>

        <form class="content__form" (submit)="onSubmitRating()">
            <h1 id="card-rating__question" class="form__title title">
                How did we do?
            </h1>

            <p id="card-rating__description" class="form__description">
                Please let us know how we did with your support request. All feedback is appreciated 
                to help us improve our offering!
            </p>

            <app-rating-button-list
                class="form__button-list"
                [idDescription]="'card-rating__description'"
                [idQuestion]="'card-rating__question'"
                (checkRaiting)="setCheckedRating($event)"
            ></app-rating-button-list>
            
            <app-button
                [btnStyle]="'btn-primary'"
                [btnType]="'submit'"
                [ariaLabel]="'Enviar avaliação'"
                [text]="'SUBMIT'"
                [disabled]="!checkedRating"
                [titleMessage]="!checkedRating ? 'selecione um rating para habilitar o botão.' : ''"
            ></app-button>
        </form>
    </section>
</app-card>