$btnSize: 42px;
$iconSize: 0.85rem;

.round-button {
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    border: 0;

    border-radius: 50%;
    width: $btnSize;
    height: $btnSize;

    &__icon {
        display: flex;
        width: $iconSize;
        height: $iconSize;
        margin: auto;
    }

    &__text {
        margin: auto;
        height: 1rem;
    }
}

@media screen and (min-width: 400px) {
    $btnSize: clamp(42px, calc(45px + 1vw),50px);
    
    .round-button {
        width: $btnSize;
        height: $btnSize;
   }
}