$btnSize: 40px;
$iconSize: 0.85rem;

.round-button {
    border: 0;

    border-radius: 50%;
    width: $btnSize;
    height: $btnSize;

    &__icon {
        display: flex;
        width: $iconSize;
        height: $iconSize;
        margin: auto;
    }
}

