<ul 
    role="radiogroup" 
    [attr.aria-labelledby]="idQuestion"
    [attr.aria-describedby]="idDescription"
>
    <li [attr.role]="'radio'"
        [attr.aria-label]="button.ariaLabel"
        *ngFor="let button of buttonList; 
        let btnIdx = index"
    >
        <app-round-button
            [ariaLabel]="button.ariaLabel"
            [btnStyle]="button.btnStyle"
            [isChecked]="button.selected"
            [text]="button.rating"
            (clickInButton)="activeButton(button, btnIdx)"
        ></app-round-button>
    </li>
</ul>