<app-card class="card-thank-you">
    <aside class="card-thank-you__content">
        <figure class="content__img">
            <img 
                [alt]="'thanks you image.'"
                src="../../../../../assets/images/illustration-thank-you.svg"
            >
        </figure>

        <div class="content__selected-item-info">
            <span>{{ ratingSelectedMessage }}</span>
        </div>

        <div class="content__message">
            <h1 class="message__title--title title">
                Thank you!
            </h1>
    
            <p class="message__paragraph"> 
                We appreciate you taking the time to give a rating.
                If you ever need more support, 
                don’t hesitate to get in touch!
            </p>
        </div>
    </aside>
</app-card>