@import './assets/themes/colors.scss';
@import './assets/themes/default.scss';

*,
html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

body {
    background-color: map-get($default-value-map, bg-primary);
    color: map-get($default-value-map, font-normal);

    .btn-secondary {
        background: map-get($default-value-map, btn-secondary);
        color: map-get($default-value-map, font-normal);
        
        &[aria-checked="true"] {
            background-color:  map-get($default-value-map, btn-secondary-checked);
            color: white;
        }

        &:hover {
            background: map-get($default-value-map, btn-secondary-bg-hover);
            color: white;
        }
        
        &:focus {
            outline-color: map-get($default-value-map, btn-secondary-bg-hover);
        }

    }

    .btn-primary {
        background: map-get($default-value-map, btn-primary);
        color: map-get($default-value-map, font-title);
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background: map-get($default-value-map, btn-primary-bg-hover);
            color: map-get($default-value-map, font-contrast);
        }

        &:focus {
            outline-color: map-get($default-value-map, btn-secondary-bg-hover);
        }
    }

    .title {
        font-size: 1.5rem;
        color: map-get($default-value-map, font-title);
    }

    .text-normal {
        color: map-get($default-value-map, font-normal);
    }

    .icon-primary {
        background: map-get($default-value-map, btn-secondary);
        color: map-get($default-value-map, font-normal);
        
        &:focus {
            outline-color: map-get($default-value-map, btn-secondary-bg-hover);
        }

    }

    .card {
        background-color: map-get($default-value-map, bg-card);
        padding: 20px;
        border-radius: 20px;


        width: 340px;
    }
}