@import './assets/themes/colors.scss';
@import './assets/themes/default.scss';

*,
html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 15px;
    font-family: 'Overpass';
}

body {
    background-color: map-get($default-value-map, bg-primary);
    color: map-get($default-value-map, font-nomal);

    .btn-primary {
        background: map-get($default-value-map, btn-primary);
    }

    .title {
        color: map-get($default-value-map, font-title);
    }

    .text-normal {
        color: map-get($default-value-map, font-nomal);
    }

    .card {
        background-color: map-get($default-value-map, bg-card);
        padding: 30px;
        border-radius: 20px;
    }
}