:root {
    /**primary */
    --orange-600:  hsl(25, 97%, 53%);

    /** neutral*/
    --white: hsl(0, 0%, 100%);

    --grey-300: hsl(217, 12%, 63%);
    --grey-500: hsl(216, 12%, 54%);

    --dark-blue-500: hsl(213, 19%, 18%);
    --dark-blue-900: hsl(216, 12%, 8%);
}