@import './colors.scss';

$default-value-map: (
    name: "default",
    bg-primary: var(--dark-blue-900),
    bg-card: var(--dark-blue-500), 

    btn-primary: var(--orange-600),
    btn-secondary: var(--dark-blue-500),
    btn-active: var(--grey-300),

    btn-primary-bg-hover: var(--white),
    btn-secondary-bg-hover: var(--orange-600),
    btn-secondary-checked: var(--grey-300),
    
    font-normal: var(--grey-300),
    font-title: var(--white),
    font-contrast: var(--orange-600),
)